.image-list {
  column-count: 1;
  column-gap: 0px;
}
@media (min-width: 800px) {
  .image-list {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .image-list {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .image-list {
    column-count: 4;
  }
}

.image-list img {
  width: 100%;
}
